body {
    box-sizing: border-box;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: Verdana, sans-serif;
    color: #fff;
}

.container {
    max-width: 1366px;
    margin: auto;
    padding: 35px 60px 10px 100px;
}

.header-container {
    width: 1100px;
    margin-bottom: 20px;
}

.header-logo {
    width: 50%;
    float: left;
}

.header-logo a {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    display: block;
    width: 46px;
    height: 44px;
    margin-left: 34.5px;
}

.header-logo a {
    text-decoration: none;
    color: #fff;
}

.header-logo h1 {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 60px;
}

.header-logo span {
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
}

.header-logo a:hover {
    background: url(../img/logo_hover.png);
    color: #f26522;
}

.header-contacts {
    width: 50%;
    float: left;
    padding-top: 15px;
}

.header-contacts p {
    text-align: right;
}

.header-container::after {
    content: "";
    clear: both;
    display: block;
}

/*
.tours {
    width: 1100px;
    margin: auto;
}
*/

.tours div.tours-Layer {
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 34.5px;
    margin-left: 34.5px;
}

.tours img {
    width: 307px;
    height: 201px;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #fff 100%);
    border-image-slice: 1;
}

.tours p.bottom-sign {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.tours::after {
    content: "";
    clear: both;
    display: block;
}

.tours-Layer {
    position: relative;
}

.tours-Layer:hover .blok-hover {
    opacity: 1;
    transform: translateY(0);
}

.tours-Layer:hover .bottom-sign {
   color: #f26522; 
}

.blok-hover {
    position: absolute;
    margin: 0;
    padding: 20px 0;
    width: 311px;
    background: #f26522;
    bottom: 40px;
    opacity: 0;
    transform: translateY(20%);
    transition: 700ms;
}

.blok-hover-1 {
    width: 40%;
    float: left;
}

.blok-hover-1 p {
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    margin-left: 20px;
}

.blok-hover-1 span {
    font-size: 20px;
    font-weight: 400;
}

.blok-hover-2 {
    width: 50%;
    float: left;
    padding-top: 15px;
}

.blok-hover-2 p {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-right: 20px;
}

.blok-hover-3 {
    width: 10%;
    float: left;
    padding-top: 15px;
}

.blok-hover-3 div {
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.footer {
    width: 1100px;
}

.footer p {
    margin-top: 10px;
    margin-left: 34.5px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}