@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: black;
    background-image: url("../img/bg1.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
}

.parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-content {
    position: absolute;
    left: 80px;
    bottom: 145px;
}

.header-logo {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header-logo-slogan {
    margin: 10px 0 30px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
}

.header-slogan-text {
    display: inline-block;
    margin-left: -4px;
    padding: 50px 30px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.header-slogan-text-selected {
    background: #fff;
    color: #f1ad1d;
}

.about {
    padding: 115px 0 135px;
    text-align: center;
}

.section-title {
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title-dark {
    color: #333;
}

.section-text {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

.section-text-dark {
    color: #4d4943;
}

.underline::after {
    content: '';
    display: block;
    margin: 50px auto 0px;
    height: 3px;
    width: 60px;
    background-color: #f1ad1d;
}

.ideas {
    padding: 150px 0;
    background-image: url("../img/bg2.jpg");
    text-align: center;
}

.section-title-light {
    color: #fff;
}

.section-title-selected {
    color: #f1ad1d;
}

.team {
    padding: 136px 0 180px;
    text-align: center;
}

.featured {
    padding: 150px 0 115px;
    background-image: url("../img/bg3.jpg");
    text-align: center;
}

.featured-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-logo {
    display: block;
    margin-right: 55px;
}

.featured-logo:last-of-type {
    margin-right: none;
}

.logo-post {
    width: 207px; height: 28px;
    background: url('../img/logo_sprites.png') -199px -9px;
}

.logo-dryme {
    width: 135px; height: 49px;
    background: url('../img/logo_sprites.png') -199px -55px;
}

.logo-home {
    width: 172px; height: 42px;
    background: url('../img/logo_sprites.png') -9px -9px;
}

.logo-journy {
    width: 141px; height: 52px;
    background: url('../img/logo_sprites.png') -9px -69px;
}

.work {
    padding: 155px 0 125px;
    text-align: center;
}

.said {
    padding: 130px 0 120px;
    background-image: url("../img/bg4.jpg");
    text-align: center;
}

.section-text-light {
    margin-top: 50px;
    color: #fff;
    line-height: 30px;
}

.underline-1::after {
    content: '';
    display: block;
    margin: 45px auto 0px;
    height: 3px;
    width: 280px;
    background-color: #fff;
}

.goods {
    padding: 155px 0;
    text-align: center;
}