@import url('https://fonts.googleapis.com/css?family=Roboto:900');

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    height: 100vh;
    perspective: 60px;
    overflow: hidden;
}

.episode {
    position: absolute;
    margin: 0 auto;
    width: 600px;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.episode-number {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fcd000;
    text-align: center;
    text-transform: uppercase;
}

.episode-title {
    margin-bottom: 20px;
    font-size: 40px;
    color: #fcd000;
    text-align: center;
    text-transform: uppercase;
}

.episode-text {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fcd000;
    text-align: justify;
    line-height: 40px;
}

.text-animation {
    animation: text-animation 30s linear infinite;
}


@keyframes text-animation {
    from {
        transform: rotateX(10deg) translateY(500px);
    }
    to {
        transform: rotateX(10deg) translateY(-200px);
    }


