/*
@font-face {
    font-family: 'Verdana';
    src: url(../fonts/verdana.ttf);
    font-weight: normal;
}
*/

.content {
    box-sizing: border-box;
    background-image: url(../img/background-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
/*    height: 100vh;*/
    font-family: Verdana, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
    background-color: rgba(0, 0, 0, 0.41);
}

.right-menu-container {
    display: flex;
    align-items: center;  
}

h1 {
    font-size: 20px;
    font-weight: 700;
    color:  #fff;
    text-transform: uppercase;
}

h1:hover {
    color: #3cb878;
}

.right-menu-icons a {
    margin-right: 28px;
}

.right-menu-icons a:last-of-type {
    margin-right: 0;
}

.icon {
    display: inline-block;
    width: 28px; 
    height: 20px;
    background: url(../img/icons-css-sprites.png);
}

.bg-ic_calendar {
    background-position: -100px -10px;
}

.bg-ic_calendar:hover {
    background-position: -100px -49px;
}

.bg-ic_forum {
    background-position: -10px -10px;
}

.bg-ic_forum:hover {
    background-position: -58px -10px;
}

.bg-ic_journey {
    background-position: -10px -50px;
}

.bg-ic_journey:hover {
    background-position: -50px -50px;
}

.vertical-line {
    height: 20px;
    margin: 0 28px;
    border-right: 2px solid #fff;
    opacity: 0.2;
}

.right-menu ul {
    list-style: none;
}

.right-menu li {
    display: inline-block;
}

.right-menu a {
    font-size: 14px;
    color: #3cb878;
}

.right-menu p {
    font-size: 14px;
    color: #fff;
}

.hover-underline:hover {
    text-decoration: underline;
}

.form-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 30px 60px;
    width: 444px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
}

.form-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-links p {
    font-size: 20px;
    color:  #434343;
}

.form-links a {
    font-size: 14px;
    color:  #3cb878;
}

.buttons {
    display: flex;
}

.btn {
    flex-grow: 1;
    padding: 0 15px;
    height: 46px;
    border-style: none;
    border-radius: 3px;
    font-size: 16px;
    color:  #fff;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn i {
    font-size: 18px;
}

.btn i:after {
    content: '';
    margin: 0 15px;
    border: solid #000;
    border-width: 0 1px;
    opacity: 0.1;
    font-size: 20px;
}

.btn-Facebook {
    margin-right: 5px;
    background-color:  #305db8;
}

.btn-Facebook:hover {
    background-color: #264b96;
}

.btn-Google {
    margin-left: 5px;
    background-color:  #df4a32;
}

.btn-Google:hover {
    background-color: #c3412c;
}

.container-form-text-or {
    margin: 30px 0 18px;
    overflow: hidden;
}

.form-text-or {
    text-align: center;
    color:  #848484;
    font-size: 14px;
}

.form-text-or:before, .form-text-or:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #eaeaea;
    border: solid #fff;
    border-width: 0 10px;
}

.form-text-or:before {
    margin-left: -100%;
}

.form-text-or:after {
    margin-right: -100%;
}

.text-input {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 20px;
    height: 46px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    outline: none;
}

.text-input::placeholder {
    color: #bebebe;
    font-size: 14px;
}

.text-input:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    font-family: Verdana;
    color:  #434343;
}

.btn-create-account {
    padding: 14px 0;
    border-style: none;
    border-radius: 3px;
    background-color: #3cb878;
    font-size: 16px;
    color:  #fff;
    cursor: pointer;
}

.btn-create-account:focus {
    outline: none;
}

.btn-create-account:hover {
    background-color: #2e9b65;
}

.form-green-box {
    position: absolute;
    top: 30px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #3cb878;
}


/**********Check-box styles**********/

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 10px 0 25px;
    cursor: pointer;
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
}

.checkbox-text {
    color: #3cb878;
    text-decoration: none;
}

/* Hide the browser's default checkbox */
.default-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: 1px;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 4px;
    top: 0;
    width: 5px;
    height: 8px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}