@font-face {
    font-family: 'Arimo';
    src: url(..fonts/Arimo-Regular.ttf);
}

body {
    font-family: 'Arimo', sans-serif;
}

table {
    width: 100%;
    color:  #484848;
    font-size: 16px;
    text-align: center;
    border-collapse: collapse;
    border: 24px solid #374765;
}

td, th {
    padding: 26px 0;
    text-transform: uppercase;
    box-shadow: -2px 0 #ccc inset;
}

tr {
    background: #f2f2f2; 
}

tr:nth-child(2n) {
    background: #e3e3e3;
}

.first-row-1 {
    padding: 0;
    vertical-align: bottom;
    background-color: #fafafa;
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    border-bottom: none;
}

.first-row-2 {
    background-color: #89c331;
    color:  #fff;
    font-size: 24px;
    font-weight: 700;
}

.first-row-3 {
    background-color: #f04a56;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.first-row-4 {
    background-color: #20807c;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.first-row-2, .first-row-3, .first-row-4 {
    box-shadow: initial;
}

.first-price-cell {
    padding: 0 18px;
    vertical-align: top;
    background-color:  #fafafa;
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    border-top: none;
}

.price-cell {
    padding: 18px 33px;
    background-color:  #fafafa;
}

.price-main {
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
}

.sup-text {
    vertical-align: 25px;
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
}

.sub-text {
    margin-left: -35px;
    color:  #484848;
    font-size: 18px;
    font-weight: 400;
}

.btn {
    padding: 18px 58px;
    border-style: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.btn-1 {
    background-color: #484848;
    box-shadow: 0 -7px #404040 inset;
}

.btn-1:hover {
    background-color: #404040;
}

.btn-2 {
    background-color: #89c331;
    box-shadow: 0 -7px #79b027 inset;
}

.btn-2:hover {
    background-color: #79b027;
}

.btn-3 {
    background-color: #f04a56;
    box-shadow: 0 -7px #df3a46 inset;
}

.btn-3:hover {
    background-color: #df3a46;
}

.btn-4 {
    background-color: #20807c;
    box-shadow: 0 -7px #16736f inset;
}

.btn-4:hover {
    background-color: #16736f;
}

.first-column-link {
    text-decoration: none;
    color:  #484848;
}

.first-column-link:hover {
    color: #f04a56;
    text-decoration: underline;
}

.first-column-link:hover .first-column-icons{
    color: #f04a56;
}

.first-column-icons {
    padding: 0 10px;
    color:  #848484;
    font-size: 24px;
    vertical-align: middle;
}

.first-column-text {
    vertical-align: -2px;
}