@font-face {
    font-family: 'Verdana', sans-serif;
    src: url(../fonts/Verdana.ttf);
}

body {
    box-sizing: border-box;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
    color: #fff;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.header-container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header-logo:hover {
    color: #f26522; 
}

.header-logo:hover .bg-logo {
    background-position: -52px -2px;
}

.bg-logo {
    display: block;
    width: 46px;
    height: 44px;
    background: url(../img/logo_css_sprites.png);
    background-position: -2px -2px;
}

h1 {
    margin: -44px 61px;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}

.logo-bottom-text {
    font-size: 19px;
    font-weight: 700;
}

.header-contacts {
    text-align: right;
    font-size: 18px;
    line-height: 21px;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tours-layer {
    margin-bottom: 100px;
    width: 307px;
    height: 201px;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #fff 100%);
    border-image-slice: 1;
    position: relative;
}

.tours-layer-bottom-sign {
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}

.footer {
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
}

.blok-hover {
    box-sizing: border-box;
    position: absolute;
    margin: -50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f26522;
    height: 0px;
    bottom: 50px;
    overflow: hidden;
}

.blok-hover-left-text {
    margin-left: 20px;
    font-size: 10px;
}

.blok-hover-left-price {
    font-size: 20px;
}

.blok-hover-right-text {
    margin-right: 20px;
    margin-bottom: -15px;
    font-size: 14px;
}

.blok-hover-right-text:after {
    content:' ';
    display: inline-block;
    margin-left: 15px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}

.tours-layer:hover .tours-layer-bottom-sign {
    color: #f26522;
}

.tours-layer:hover .blok-hover {
    height: 63px;
    bottom: 50px;
    transition: all 0.3s linear;
}

